:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --title-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-accent-color: #000000;
    --footer-mail-text-color: rgba(255, 255, 255, 0.6);
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --hero-footer-bg-color: #2F303A;
    --border-color: #ECECEC;
    --border-sites: #EEEEEE;
}   

/* цвет основого текста #212121 */
/* вторичный цвет текста #757575*/
/* вспомагат черный цвет #000000 */
/* белый цвет #FFFFFF */
/* акцент синий цвет #2196F3 */
/* футер почта,тел rgba(255, 255, 255, 0.6)*/

/* осн цвет фона #F5F5F5 */
/* вторичный цвет фона #F5F4FA */
/* герой, футер цвет фона #2F303A */
/* граница в хедере цвет #ECECEC */
/* граница на сайте цвет #EEEEEE */

html {
    box-sizing: border-box;
}

/* *,
*::before,
*::after {
    box-sizing: inherit;
} */

body {
    /* margin: 0; */
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-size: 14px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list {
    padding: 0;
    margin: 0;
}

/* Logo шапка и футер*/

.page-header {
    background-color: var(--title-text-color);
    border-bottom: 1px solid var(--border-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid teal;
}

.logo {
    color: var(--logo-accent-color);
}

.logo-footer {
    color: var(--title-text-color);
}

.logo-span {
    color: var(--accent-color);
}

.logo, 
.logo-footer, 
.logo-span {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

/* Site nav */

.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* контакты шапка и футер */

.social-links a {
    padding: 0;
    margin: 0;

    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

}

.contacts-mail,
.contacts-tel {
    color: inherit;
}

.contacts-mail:hover, 
.contacts-mail:focus {
    color: var(--accent-color);
}

.contacts-tel:hover,
.contacts-tel:focus {
    color: var(--accent-color);
}

/* секция герой */
.hero {
    background-color: var(--hero-footer-bg-color);
    text-align: center;
    letter-spacing: 0.06em;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--title-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* кнопки, фильтр*/

.button {
    display: inline-block;

    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;

}

.button.primary {
    display: inline-block;
    min-width: 216px;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    

    color: var(--title-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* align-items: center; */

}

.button:hover,
.button:focus {
    color: var(--title-text-color);
    background-color: var(--accent-color);
}

/* секции */

.section {
    padding-top: 94px;
    padding-bottom: 0;
}

.section-team {
    background-color: var(--secondary-bg-color);
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* секция: команда, особенности; в портфолио:
 сайты*/

.features {
    display: flex;
    
}

.features-list {
    width: 270px;
}

.features .title {
    margin-top: 0;
    margin-bottom: 10px;
    

    color: var(--primary-text-color);
    font-weight: 700;
    line-height: 1.14;
}

.features .item {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--secondary-text-color);
    line-height: 1.71;
}

.team .title {
    margin-top: 30px;
    margin-bottom: 10px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

 .team .item {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
 }
 /* Портфолио сайты */

.sites {
    display: flex;
    flex-wrap: wrap;
}

.sites-list {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid var(--border-sites);
}

.sites-list:nth-child(3n) {
    margin-right: 0;

}

.sites-title {
    padding: 20px 24px;
}

.sites .title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
}
  
.sites .item {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* футер */

.footer {
    background-color: var(--hero-footer-bg-color);
}

.address {
    color: var(--title-text-color);
    font-style: normal;
    line-height: 1.71;
    text-decoration: none;
}

.footer-contacts {
    color:var(--footer-mail-text-color);
    font-style: normal;
    line-height: 1.71;
}   